name: Build
on: [push]
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Buildozer
        run: pip install buildozer cython==0.29.33
      - name: Build APK
        run: |
          sudo apt-get install -y libffi-dev
          yes | buildozer -v android debug
      - uses: actions/upload-artifact@v3
        with:
          name: my-apk
          path: bin/*.apk
