name: Build APK Final
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Buildozer dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libffi-dev libssl-dev python3-setuptools libltdl-dev
          pip install buildozer cython==0.29.33

      - name: Build APK with Buildozer
        run: yes | buildozer -v android debug

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: My_App_Package
          path: bin/*.apk
